body {
	padding: 60px 0 0;
}

.notification {
	position: relative;
	color: #fff;
	background: #b0b0b0;
	padding: 0 7px;
	font-size: 80%;

	-webkit-border-radius: 	20px;
	-moz-border-radius: 	20px;
	border-radius: 			20px;
}